---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Solutions from '../components/Solutions';
import Portfolio from '../components/Portfolio';
import Technologies from '../components/Technologies';
import Contact from '../components/Contact';
import Footer from '../components/Footer.astro';
---

<Layout title="Flizz Web Solutions - Fast, Precise, Elegant Websites">
  <Header />
  <main>
    <Hero />
    <Solutions client:load />
    <Portfolio client:load />
    <Technologies client:load />
    <Contact client:load />
  </main>
  <Footer />
</Layout>